html {

    /* color scheme - gruvbox */
    --black-normal:   #282828;
    --black-bright:   #3c3836;
    --red-normal:     #cc241d;
    --red-bright:     #fb4934;
    --green-normal:   #98971a;
    --green-bright:   #b8bb26;
    --yellow-normal:  #d79921;
    --yellow-bright:  #fabd2f;
    --blue-normal:    #458588;
    --blue-bright:    #83a598;
    --magenta-normal: #b16286;
    --magenta-bright: #d3869b;
    --cyan-normal:    #689d6a;
    --cyan-bright:    #8ec07c;
    --white-normal:   #a89984;
    --white-bright:   #ebdbb2;

    --bg-dark:  var(--black-normal);
    --bg-light: var(--black-bright);
    --text-dark: var(--white-normal);
    --text-light: var(--white-bright);
    
    color: var(--text-dark);
    background-color: var(--bg-dark);
    font-family: 'Courier New', monospace;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    
    background-color: var(--bg-dark);
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    display: none;
}
body::-webkit-scrollbar-thumb {
    background: var(--text-dark);
    border-radius: 1rem;
}

nav {
    background-color: var(--bg-light);
    padding: 1rem;
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-light);
}

a {
    color: var(--text-light);
    transition: color 0.2s;
}
a:hover {
    color: var(--text-dark);
}

strong {
    color: var(--text-light);
}

pre {
    background-color: var(--bg-light);
    padding: 0.75rem;
}

code {
    font-family: 'Courier New', monospace;
    font-size: inherit;
    color: var(--text-light);
    background-color: var(--bg-light);
}

/* inline code blocks */
p > code,
li > code,
dd > code,
td > code {
    box-decoration-break: clone;
    padding: .1rem .1rem .1rem;
    border-radius: .2rem;
}

/* block code blocks */
pre code {
    display: block;
    white-space: pre;
    /* overflow-x: scroll; */
    max-width: 100%;
    padding: .5rem;
    border-radius: .2rem;
}

hr {
    border: 1px solid var(--text-light);
}

.back-button {
    color: var(--text-dark);
    text-decoration: none;
    transition: color 0.2s;
}
.back-button:hover {
    color: var(--text-light);
}

.top-bar {
    display: inline;
    list-style: none;
    padding: 0;
    margin: .7rem;
    display: flex;
}
.top-bar li {
    margin-left: 1rem;
    margin-right: 1rem;
}
.top-bar li:last-child {
    position: absolute;
    right: 0;
}

#search[type=text] {
    background-color: var(--bg-light);
    border: none;
    color: var(--text-light);
}
#search[type=text]:focus {
}
.search-results {
    background-color: var(--bg-light);
    position: absolute;
    width: 20%;
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    right: 0;
    left: auto;
}
